*{
    margin: 0;
    padding: 0;
    font-family: "Cormorant Garamond", "Garamond", serif;
    box-sizing: border-box;
}
hr{
  margin-top: 5px;
}
/*Header*/
.hd-panel {
  position: sticky;
  top: 0px;
  text-align: center;
  z-index: 1000;
  background: #800000;
  transition: all 6s ease;
}
.hd-panel a{
    transition: color 0.6s;
    display: block;
    font-family: "Cinzel", serif;
    letter-spacing: 5px;
    padding: 10px;
    font-size: 2em;
    font-weight: bold;
    color: aliceblue;
    text-decoration: none;
}
.hd-panel a:hover{
    color: blue;
}

/* Menu chính */
.chat{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: center;
}
.chat img{
  max-height: 300px;
  border-radius: 10px;
  }
.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 15px 0;
  transition: all 3s ease;
  flex-wrap: wrap;
}
.menu li {
  position: relative;
  margin: 0 20px;
}
.menu a {
  display: block;
  color: #050505;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: bold;
  padding: 8px 5px;
  transition: color 0.6s;
}
.menu a:hover {
  color: #fc0069;
}
/* Submenu ẩn */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  max-height: 300px;
  overflow-y: scroll;
  background: #444242;
  list-style: none;
  border-radius: 5px;
  z-index: 999;
}
.menu li:hover .submenu {
  display: block;
}
.submenu li a {
  display: block;
  padding: 8px 12px;
  color: #fff;
  white-space: nowrap;
}
.submenu li a:hover {

  color: #b60982;
}
/**/

/*Main*/
main{
    min-height: 100vh;
}
.content
{
  padding: 5px;
  background: #f7f5ef;
}
.content h2 {
  font-size: 1.3rem;
  color: #222;
}
.content h3 {
  font-size: 1em;
  color: #222222e1;
  margin-bottom: 5px;
}

.content p {
  font-size: 0.9rem;
  color: #000000;
}
.board{
  display: flex;
  flex-direction: column;
  color: #050505;
  text-align: center;
  background: #f7f5ef;
}
.board h1{
  background-color: #4442426e;
  padding: 5px;
}
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  background: #f7f5ef;
}
.box {
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex: 1 1 250px;  /* tự co giãn, tối thiểu 250px */
  max-width: 300px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 0;
}
.box::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 10px;
  padding: 4px;
  background: linear-gradient(270deg, red, orange, yellow, green, cyan, blue, rgb(255, 0, 255), red);
  background-size: 400% 400%;
  animation: borderflow 8s linear infinite;
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
  z-index: 1;
}
@keyframes borderflow {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
.box:hover {
  transform: translateY(-5px);
}
.img {
  width: 100%;
  aspect-ratio: 16 / 9;       /* giữ tỉ lệ ảnh khi co giãn */
  border-radius: 5px;
  overflow: hidden;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  border: 2px solid silver;
  overflow: hidden;
  object-fit: cover;          /* ảnh tự cắt và phủ kín */
  display: block;
}
.img img:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease;
}

.title {
  padding: 12px;
  text-align: center;
}

.title h2 {
  font-size: 1.3rem;
  color: #222;
}
.title h3 {
  font-size: 1em;
  color: #222222e1;
  margin-bottom: 5px;
}

.title p {
  font-size: 0.9rem;
  color: #555;
}
/*Footer*/
.ft-panel{
    padding: 20px;
    background-color: rgba(55, 55, 55);
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}
.right{
    display: flex;
    flex: 1;
    color: aliceblue;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}
.ft-panel a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: azure;
}
.ft-panel a:hover {
  border: 1px solid white;
  box-shadow: 1px 2px;
}
.footer-note{
    padding: 20px;
    background-color: rgba(55, 55, 55);
    color: aliceblue;
    text-align: center;
}
.tag{
 background: linear-gradient(45deg, #a00, #600);
  color: #ffffff;
  font-size: 0.58em;
  text-align: center;
  padding: 10px;
}

